@media (max-width: 575.98px) { 
    .topTitle{ font-size: 28px;}
 }

@media (min-width: 576px) and (max-width: 767.98px) { 
    .topTitle{ font-size: 38px;}
    .topSubTitle{ font-size: 18px;}
    .topSubTitle{ font-size: 16px;}
 }

@media (min-width: 768px) and (max-width: 991.98px) { 

 }

@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

@media (max-width: 1399.98px) { 

 }